h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    .holder {
            display: flex;
            flex-wrap: wrap;
            font-weight: 1500px;
        }

.item {
    height: 50px;
}

.item:nth-child(1) {
    background-color: red;
    flex-basis: 750px;
    flex-grow: 2;
}

.item:nth-child(2) {
    background-color: blue;
    flex-basis: 500px;
    order: 4;
    flex-grow: 1;
}

.item:nth-child(3) {
    background-color: purple;
    flex-basis: 500px;
    order: 3;
    flex-grow: 1;
}

.item:nth-child(4) {
    background-color: green;
    flex-basis: 500px;
    order: 5;
    flex-grow: 1;
}

.item:nth-child(5) {
    background-color: orange;
    flex-grow: 2;
    flex-basis: 750px;
    order: 2;
}